# Data Exploration

### Testing to see how github merging goes

In [2]:
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

In [24]:
address = "C:/Users/tbweb/Documents/CS329E/Project/data.csv"
file = pd.read_csv(address)

df = pd.DataFrame(file.iloc[1:198,1:21])
df.columns = file.iloc[0,1:21]
df.head()

,age,sex,Alb,PLT,WBC,CRP,APACHE II,SOFA,McCabe,PaO2/FiO2,LDH,CT score,PEEP,PIP,TV,DARDS = 1,days,death = 1,days,ventilator weaning = 1
1,79,M,2.3,10.8,4000,17.8,24,8,1,108.0,339,191.6,24,n.d.,n.d.,0,21,1,28,0
2,83,M,4.4,13.5,10200,8.9,16,6,1,78.0,385,213.3,5,10,360,0,21,1,28,0
3,70,M,2.7,10.8,5300,25.3,22,7,1,70.9,461,221.7,18,24,525,0,8,1,28,0
4,61,M,3.3,8.8,1800,22.2,26,7,1,59.2,227,211.6,10,24,480,0,11,1,28,0
5,81,M,3.1,26.2,10600,17.0,19,4,1,83.6,680,234.9,5,10,625,0,6,1,28,0