# Data Exploration

### Testing to see how github merging goes

In [3]:
import pandas as pd
from pandas import Series, DataFrame

import matplotlib.pyplot as plt

In [16]:
#read in dataframe, make separate df for class labels
address = "C:/Users/tbweb/Documents/CS329E/Project/data.csv"
file = pd.read_csv(address)

data_X = file.iloc[1:198,1:21]
data_X.columns = file.iloc[0,1:21]

data_Y = file.iloc[1:198,21:22]
print(data_Y.head(10))
data_X.head(8)

   Unnamed: 21
1            1
2            1
3            1
4            1
5            1
6            1
7            1
8            1
9            0
10           1

,age,sex,Alb,PLT,WBC,CRP,APACHE II,SOFA,McCabe,PaO2/FiO2,LDH,CT score,PEEP,PIP,TV,DARDS = 1,days,days,ventilator weaning = 1,VFD
1,79,M,2.3,10.8,4000,17.8,24,8,1,108,339,191.6,24,n.d.,n.d.,0,21,28,0,0
2,83,M,4.4,13.5,10200,8.9,16,6,1,78,385,213.3,5,10,360,0,21,28,0,0
3,70,M,2.7,10.8,5300,25.3,22,7,1,70.9,461,221.7,18,24,525,0,8,28,0,0
4,61,M,3.3,8.8,1800,22.2,26,7,1,59.2,227,211.6,10,24,480,0,11,28,0,0
5,81,M,3.1,26.2,10600,17,19,4,1,83.6,680,234.9,5,10,625,0,6,28,0,0
6,79,M,3.4,37.9,13200,21,18,5,1,71.5,224,236.7,5,25,460,0,12,28,0,0
7,83,M,2.8,18,1500,54.9,30,11,1,96.2,342,180.5,22,n.d.,n.d.,0,1,28,0,0
8,70,M,2.8,18.5,14100,18.4,15,5,1,78.2,478,311.6,10,25,n.d.,0,13,28,0,0

### What do each of the variables stand for?

age = age of patient in years

sex = biological sex of patients
Alb = Albumin in g/dL
PLT = Platelet count (per mm-cubed)
WBC = white cell count (per mm-cubed)
CRP = C reactive protein (mg/dL)
APACHE II = score on APACHE II test
SOFA = score on SOFA test
McCabe = score on McCabe test (1, 2, or 3)
PaO2/FiO2 = 
LDH = Lactate dehydrogenase (IU/L)
CT score = 
PEEP = (cmH2O)
PIP = (cmH2O)
TV = tidal volume
DARDS: 1 if drug-associated ARDS, 0 if not drug-associated ARDS
days = 
days = 
ventilator weaning = 
VFD =